
body {
    background-color: #F7F2F2;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.names {
    font-family: "Parisienne", cursive;
    font-size: 50px;
    letter-spacing: 2px;
}

.h1 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 23px;
    letter-spacing: 2px;
}

.paragraph {
    font-family: "Nanum Myeongjo", serif;
    font-size: 17px;
    letter-spacing: 1px;
}

.h3 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.h5 {
    font-family: "Nanum Myeongjo", serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}

.invite-content {
    max-width: 400px;
    width: 100%;
}

.invite-card {
    display: flex;
    max-width: 600px;
    min-height: 800px;
    width: 100%;

    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border: 2px solid black;

    text-align: center;
    flex-direction: column;
    align-items:center;
    padding-top: 50px;
}